@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;

500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header-top {
  background: -o-linear-gradient(357.45deg, #F2B236 32.31%, #FF9C1A 64.34%);
  background: linear-gradient(92.55deg, #F2B236 32.31%, #FF9C1A 64.34%);
  -webkit-box-shadow: 0px 0px 7px #FFDBA6;
          box-shadow: 0px 0px 7px #FFDBA6;
  padding: 42px 0 30px 0;
}

.header-top__box {
  display: none;
}

.header-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__left {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.header-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-top__right-phone {
  font-size: 18px;
  line-height: 21px;
  color: #884900;
  margin-right: 25px;
}

.header-top__right-search {
  background-color: #fff;
  border-radius: 26px;
  max-width: 330px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 12px 12px 20px;
  margin-right: 25px;
}

.header-top__right-search__input {
  display: block;
  width: 100%;
  margin-right: 15px;
  color: #A5AAAF;
  line-height: 19px;
  font-weight: 400;
}

.header-top__right-search__input::-webkit-input-placeholder {
  color: inherit;
}

.header-top__right-search__input::-moz-placeholder {
  color: inherit;
}

.header-top__right-search__input:-ms-input-placeholder {
  color: inherit;
}

.header-top__right-search__input::-ms-input-placeholder {
  color: inherit;
}

.header-top__right-search__input::placeholder {
  color: inherit;
}

.header-top__right-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__right-buttons__item {
  display: block;
}

.header-top__right-buttons__item:first-child {
  margin-right: 25px;
}

.header-bottom {
  background: #FAFAF9;
  -webkit-box-shadow: 0px 5px 13px #EBE7E0;
          box-shadow: 0px 5px 13px #EBE7E0;
}

.header-bottom__phone {
  display: none;
}

.header-bottom__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-bottom__nav-list__item {
  position: relative;
}

.header-bottom__nav-list__item-menu:hover .header-bottom__nav-list__item-submenu {
  opacity: 1;
  visibility: visible;
}

.header-bottom__nav-list__item-menu:hover .header-bottom__nav-list__item-link {
  background: #F2B236;
}

.header-bottom__nav-list__item a {
  display: block;
  color: inherit;
  font-weight: 400;
  padding: 22px 25px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-bottom__nav-list__item a:hover {
  background: #F2B236;
}

.header-bottom__nav-list__item-submenu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  width: 100%;
  z-index: 3;
  background-color: #fff;
}

.header-bottom__nav-list__item-submenu__item a {
  display: block;
  color: inherit;
  font-weight: 400;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-bottom__nav-list__item-submenu__item a:hover {
  background: #F2B236;
}

.header-burger {
  display: none;
}

.header-burger span {
  display: block;
  width: 35px;
  height: 6px;
  background: #F2B236;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header-burger:before,
.header-burger:after {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background: #F2B236;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header-burger.active {
  background: none;
}

.header-burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header-burger.active:before {
  position: absolute;
  top: 30px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0;
}

.header-burger.active:after {
  position: absolute;
  bottom: 30px;
  -webkit-transform: rotate(-46deg);
      -ms-transform: rotate(-46deg);
          transform: rotate(-46deg);
  left: 0;
}

.header-mobile {
  display: none;
}

.header-mobile__nav {
  margin-bottom: 40px;
}

.header-mobile__nav-list__li + .header-mobile__nav-list__li {
  margin-top: 25px;
}

.header-mobile__nav-list__li-link {
  display: block;
  color: #222528;
  font-size: 26px;
  line-height: 36px;
}

.header-mobile__nav-list__li-link-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mobile__nav-list__li-link-sm:after {
  content: '';
  display: block;
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  width: 0;
  height: 0;
  margin-left: 10px;
}

.header-mobile__nav-list__li-link-sm.active + .header-mobile__sublist {
  display: block;
}

.header-mobile__nav-list__li-link-sm.active:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header-mobile__sublist {
  padding: 20px;
  display: none;
}

.header-mobile__sublist-li__link {
  display: block;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  background: #F2B236;
  padding: 12px 15px;
}

.header-mobile__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mobile__buttons-btn {
  display: block;
  margin-right: 15px;
}

.header-mobile__buttons-btn img {
  display: block;
  width: 60px;
  height: 60px;
}

.hero {
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding: 40px 0;
  background-position: center center;
}

.hero:before {
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.54);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #FAFAF9;
  text-align: center;
  padding: 250px 0 150px 0;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
}

.hero-content__title {
  font-size: 50px;
  line-height: 59px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);
  margin-bottom: 16px;
}

.hero-content__text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.44);
  font-weight: 400;
  margin-bottom: 43px;
}

.hero-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero-socials__item {
  background: #90C1BF;
  border-radius: 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.hero-socials__item:hover {
  background: #F2B236;
}

.hero-socials__item:hover .hero-socials__item-icon {
  -webkit-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
  fill: #333;
}

.hero-socials__item + .hero-socials__item {
  margin-left: 25px;
}

.hero-socials__item-icon {
  display: block;
  width: 49px;
  height: 49px;
  fill: white;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.promotions {
  padding: 50px 0 80px 0;
  position: relative;
  border-bottom: 1px solid #A5AAAF;
}

.promotions-wrapper {
  display: grid;
  overflow-x: auto;
  grid-template-columns: 540px 540px 540px 540px 540px 540px;
  margin-left: auto;
}

.promotions-item {
  background: #FFFFFF;
  border-radius: 14px;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.promotions-item__block {
  background: #90C1BF;
  border-radius: 10px;
  text-align: center;
  padding: 14px 12px;
  font-size: 38px;
  line-height: 45px;
  color: #FAFAF9;
  position: relative;
  margin-right: 18px;
}

.promotions-item__block-yellow {
  background: #F2B236;
}

.promotions-item__block-small {
  display: block;
  color: #FAFAF9;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  margin-bottom: 3px;
}

.promotions-item__block-small-2 {
  text-align: left;
  margin-bottom: 0;
  margin-top: 3px;
}

.promotions-item__content-title {
  color: #DB4E66;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}

.promotions-item__content-text {
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
}

.sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: calc(50% - 50vw);
}

.catalog {
  padding: 80px 0 100px 0;
  border-bottom: 1px solid #A5AAAF;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 9px #D3D3D3;
          box-shadow: 0px 4px 9px #D3D3D3;
  border-radius: 12px;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  padding: 25px;
  position: relative;
}

.catalog-item:nth-child(4) {
  display: none;
}

.catalog-item__age {
  background: #90C1BF;
  border-radius: 6px;
  color: #FAFAF9;
  text-transform: uppercase;
  line-height: 19px;
  max-width: 140px;
  width: 100%;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  margin: 25px 25px 0 0;
  padding: 5px;
}

.catalog-item__img {
  margin-bottom: 20px;
}

.catalog-item__img img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.catalog-item__title {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
}

.catalog-item__list {
  margin-bottom: 25px;
}

.catalog-item__list-li {
  color: #5B636B;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-item__list-li:before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  margin-right: 12px;
}

.catalog-item__list-li:nth-child(1):before {
  background: url(../img/catalog-li-1.svg) center no-repeat;
}

.catalog-item__list-li:nth-child(2):before {
  background: url(../img/catalog-li-2.svg) center no-repeat;
}

.catalog-item__list-li:nth-child(3):before {
  background: url(../img/catalog-li-3.svg) center no-repeat;
}

.catalog-item__list-li:nth-child(4):before {
  background: url(../img/catalog-li-4.svg) center no-repeat;
}

.catalog-item__list-li:nth-child(5):before {
  background: url(../img/catalog-li-5.svg) center no-repeat;
}

.catalog-item__price {
  text-align: center;
  color: #DB4E66;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

.catalog-item__btn {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.catalog-item__btn a {
  display: block;
  text-align: center;
  background: #F2B236;
  -webkit-box-shadow: 0px 3px 7px #FFE9BF;
          box-shadow: 0px 3px 7px #FFE9BF;
  border-radius: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  padding: 18px 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.catalog-item__btn a:hover {
  background: #FBB835;
  color: #865800;
}

.video {
  background-image: url(../img/video-bg.png);
  height: 140vh;
  padding: 300px 0 200px 0;
  margin-top: 80px;
  background-size: cover;
  position: relative;
  background-position: center center;
}

.video-content {
  position: relative;
  text-align: center;
}

.video-content video {
  max-width: 765px;
  width: 100%;
  margin: 0 auto;
}

.video-content.video-is-playing #video-over {
  display: block;
}

.video-content.video-is-playing #video-play {
  opacity: 0;
  visibility: hidden;
}

#video-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#video-play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px #FF6B6B;
          box-shadow: 0 0 0 4px #FF6B6B;
  background: #FF6B6B;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  -webkit-transition-property: opacity,visibility;
  -o-transition-property: opacity,visibility;
  transition-property: opacity,visibility;
}

#video-play:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 23px;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top-width: 20px;
  border-bottom-width: 20px;
  border-left-color: #F9F9F9;
  border-right-width: 0px;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

#video-play:hover:before {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.quest {
  padding: 120px 0;
  position: relative;
  border-bottom: 1px solid #A5AAAF;
}

.quest-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 19px;
}

.quest-item {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 37px;
}

.quest-item__title {
  font-size: 24px;
  line-height: 28px;
  margin-left: 23px;
}

.quest-chat {
  max-width: 280px;
  width: 100%;
  position: absolute;
  right: 60px;
  bottom: 0;
  padding-bottom: 11px;
}

.quest-chat a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAFAF9;
  border: 1px solid #CED0D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 9px #D3D3D3;
          box-shadow: 0px 4px 9px #D3D3D3;
  border-radius: 64px;
  padding: 10px;
  font-weight: 400;
  color: inherit;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.quest-chat a:hover {
  background: #F2B236;
}

.quest-chat a:before {
  content: '';
  display: block;
  background: url(../img/quest-chat.svg) center no-repeat;
  width: 71px;
  height: 71px;
  background-color: #90C1BF;
  border-radius: 50%;
  margin-right: 15px;
}

.question {
  padding: 90px 0;
  border-bottom: 1px solid #A5AAAF;
}

.question-accordeon__item {
  margin-bottom: 50px;
}

.question-accordeon__item-title {
  font-size: 30px;
  line-height: 36px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.question-accordeon__item-title:before {
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  background-color: #000;
  margin-right: 10px;
}

.question-accordeon__item-title:after {
  content: '';
  display: block;
  height: 20px;
  width: 3px;
  background-color: #000;
  position: absolute;
  left: 8px;
  z-index: 2;
}

.question-accordeon__item-title.active .question-accordeon__item-text {
  display: block;
}

.question-accordeon__item-title.active:after {
  display: none;
}

.question-accordeon__item-text {
  display: none;
  margin-top: 15px;
  padding-bottom: 10px;
}

.question-accordeon__item-text.active {
  display: block;
}

.reviews {
  padding: 120px 0 200px 0;
}

.reviews-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 9px #D3D3D3;
          box-shadow: 0px 4px 9px #D3D3D3;
  border-radius: 14px;
  padding: 36px 36px 59px 36px;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  margin-bottom: 56px;
}

.reviews-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
}

.reviews-item__header-info {
  margin-left: 28px;
}

.reviews-item__header-info__name {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 11px;
}

.reviews-item__header-info__date {
  font-weight: 400;
  color: #A5AAAF;
  margin-bottom: 6px;
}

.reviews-item__header-info__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-item__header-info__rating-left {
  color: #F2B236;
  font-size: 18px;
  line-height: 20px;
  margin-right: 12px;
}

.reviews-item__header-info__rating-left span {
  font-size: 42px;
  line-height: 50px;
}

.reviews-item__header-info__rating-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-item__header-info__rating-star img {
  display: block;
}

.reviews-item__footer-text {
  font-weight: 400;
}

.reviews-item__footer-link {
  display: block;
  color: #F2B236;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.reviews-item__footer-link:hover {
  text-decoration: underline;
  font-size: 18px;
  line-height: 22px;
}

.footer-top {
  background: -o-linear-gradient(357.45deg, #F2B236 32.31%, #FF9C1A 64.34%);
  background: linear-gradient(92.55deg, #F2B236 32.31%, #FF9C1A 64.34%);
  padding: 58px 0 88px 0;
}

.footer-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top__left {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.footer-top__left-logo {
  background: #F6D799;
  border-radius: 10px;
  text-align: center;
  padding: 27px 0 15px 0;
  margin-bottom: 16px;
}

.footer-top__left-info {
  color: #884900;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 45px;
}

.footer-top__left-search {
  background: #FFFFFF;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 14px 14px 20px;
}

.footer-top__left-search__input {
  display: block;
  width: 100%;
  margin-right: 15px;
  color: #A5AAAF;
  line-height: 19px;
  font-weight: 400;
}

.footer-top__left-search__input::-webkit-input-placeholder {
  color: inherit;
}

.footer-top__left-search__input::-moz-placeholder {
  color: inherit;
}

.footer-top__left-search__input:-ms-input-placeholder {
  color: inherit;
}

.footer-top__left-search__input::-ms-input-placeholder {
  color: inherit;
}

.footer-top__left-search__input::placeholder {
  color: inherit;
}

.footer-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.footer-top__right-item + .footer-top__right-item {
  margin-left: 54px;
}

.footer-top__right-item__list-li + .footer-top__right-item__list-li {
  margin-top: 16px;
}

.footer-top__right-item__list-li a {
  display: block;
  color: #FAFAF9;
  font-weight: 400;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer-top__right-item__list-li a:hover {
  color: #333;
}

.footer-top__right-item__socials {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__right-item__socials-item {
  background: #90C1BF;
  border-radius: 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer-top__right-item__socials-item:hover {
  background: #fff;
}

.footer-top__right-item__socials-item + .footer-top__right-item__socials-item {
  margin-left: 17px;
}

.footer-top__right-item__socials-item__icon {
  display: block;
  width: 37px;
  height: 37px;
  fill: white;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer-top__right-item__socials-item__icon:hover {
  fill: black;
}

.footer-bottom {
  background: #222528;
  padding: 56px 0;
}

.footer-bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom__left-text {
  color: #CED0D2;
  font-weight: 400;
  margin-right: 53px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer-bottom__left-text:hover {
  color: #fff;
}

.footer-bottom__right-text {
  font-weight: 400;
  color: #A5AAAF;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background: rgba(245, 245, 245, 0.63);
  font-size: 16px;
  line-height: 26px;
  color: #222528;
}

body.active {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.section-btn {
  max-width: 300px;
  width: 100%;
}

.section-btn a {
  display: block;
  background: #DB4E66;
  -webkit-box-shadow: 2px 4px 9px rgba(243, 55, 87, 0.42);
          box-shadow: 2px 4px 9px rgba(243, 55, 87, 0.42);
  border-radius: 14px;
  padding: 18px 0;
  line-height: 19px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.section-btn a:hover {
  color: #420000;
  background: #B0354A;
}

.section-btn-center {
  margin: 0 auto;
}

.section-btn-question {
  margin-top: 86px;
}

.section-subtitle {
  color: #5B636B;
  font-weight: 400;
}

.section-link {
  display: block;
  line-height: 19px;
  color: #DB4E66;
  text-transform: uppercase;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.section-link:hover {
  color: #A53145;
  font-size: 21px;
  line-height: 18px;
  text-decoration: underline;
}

.section-title {
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 16px;
}

.section-title-quest {
  margin-bottom: 92px;
}

.section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

@media (max-width: 1100px) {
  .header-top__right-search {
    display: none;
  }
}

@media (max-width: 900px) {
  .catalog-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .catalog-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin-bottom: 30px;
  }

  .catalog-item:nth-child(4) {
    display: block;
  }

  .quest-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .reviews-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .reviews-item:last-child {
    margin-bottom: 0;
  }

  .footer-top__wrapper {
    display: block;
  }

  .footer-top__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 33px;
  }

  .footer-top__left-logo {
    max-width: 200px;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .footer-top__left-info {
    margin-bottom: 0;
  }

  .footer-top__left-info span {
    display: block;
  }

  .footer-top__left-search {
    display: none;
  }

  .footer-top__right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .header-top__box {
    display: block;
  }

  .header-top__box img {
    display: block;
    width: 67px;
    height: 67px;
  }

  .header-top__left {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }

  .header-top__right {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }

  .header-top__right-phone {
    display: none;
  }

  .header-top__right-buttons {
    display: none;
  }

  .header-bottom__phone {
    display: block;
    padding: 22px 0 26px 0;
    color: #884900;
    font-size: 18px;
    line-height: 21px;
  }

  .header-bottom__nav {
    display: none;
  }

  .header-burger {
    display: block;
    background: #FFFFFF;
    border-radius: 12px;
    width: 66px;
    height: 66px;
    cursor: pointer;
    padding: 18px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 6;
  }

  .header-mobile {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 100%;
    top: 0;
    z-index: 5;
    background-color: #fff;
    padding: 150px 30px 30px 150px;
    overflow-y: auto;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

  .header-mobile.active {
    left: 0;
  }

  .hero-content {
    text-align: left;
  }

  .promotions-wrapper {
    display: block;
  }

  .promotions-item {
    width: 100%;
    margin-bottom: 16px;
  }

  .promotions-item:nth-child(1),
  .promotions-item:nth-child(2),
  .promotions-item:nth-child(3) {
    display: none;
  }

  .sub-container {
    display: block;
    margin-right: 0;
  }

  .video {
    padding-bottom: 0;
    height: 100vh;
    padding-top: 200px;
  }

  .question-accordeon__item {
    border-bottom: 1px solid #A5AAAF;
  }

  .question-accordeon__item-title {
    padding-bottom: 27px;
  }

  .reviews {
    padding: 100px 0 120px 0;
  }

  .footer-bottom__left-text-2 {
    display: none;
  }

  .container {
    max-width: 660px;
  }

  .section-btn-center {
    margin-right: auto;
    margin-left: 0;
    text-align: center;
  }

  .section-btn-center a {
    text-align: center;
  }

  .section-title {
    font-size: 32px;
    line-height: 38px;
  }
}

@media (max-width: 768px) and (max-width: 600px) {
  .header-mobile {
    padding-left: 30px;
  }
}

@media (max-width: 680px) {
  .catalog-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .catalog-item:nth-child(3) {
    margin-bottom: 0;
  }

  .catalog-item:nth-child(4) {
    display: none;
  }

  .video-content video {
    max-width: 100%;
  }

  .quest-item {
    margin-bottom: 24px;
  }

  .footer-top {
    padding: 40px 0;
  }

  .footer-bottom {
    padding: 25px 0;
  }

  .section-title-quest {
    margin-bottom: 55px;
  }
}

@media (max-width: 600px) {
  .footer-top__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-top__left-logo {
    margin-bottom: 16px;
    margin-right: 0;
  }

  .footer-top__right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer-top__right-item:nth-child(3) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-left: 0;
    margin-top: -50px;
  }
}

@media (max-width: 530px) {
  .footer-bottom__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-bottom__left-text {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .header-top {
    padding: 25px 0;
  }

  .header-top__left-logo {
    display: none;
  }

  .header-bottom__phone {
    text-align: center;
  }

  .hero {
    min-height: 700px;
  }

  .hero-content {
    padding-top: 100px;
  }

  .hero-content__title {
    font-size: 36px;
    line-height: 43px;
  }

  .hero-content__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero-socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .promotions {
    padding: 48px 0 64px 0;
  }

  .promotions-item {
    padding: 20px;
  }

  .promotions-item:nth-child(4) {
    display: none;
  }

  .promotions-item__block {
    display: none;
  }

  .promotions-item__content-title {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog {
    padding: 57px 0 94px 0;
  }

  .video {
    background-position: left center;
    padding-top: 100px;
    height: 100%;
    padding-bottom: 50px;
  }

  .quest {
    padding: 50px 0 120px 0;
  }

  .quest-item__img {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }

  .quest-item__img img {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  .quest-item__title {
    font-size: 20px;
    line-height: 24px;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }

  .quest-chat {
    bottom: -50px;
    right: 0;
  }

  .question {
    padding-bottom: 50px;
  }

  .question-accordeon__item-title {
    font-size: 20px;
    line-height: 24px;
  }

  .reviews {
    padding: 60px 0;
  }

  .reviews-item {
    padding: 20px;
    margin-bottom: 16px;
  }

  .reviews-item__header {
    margin-bottom: 10px;
  }

  .reviews-item__header-img {
    display: none;
  }

  .reviews-item__header-info {
    margin-left: 0;
  }

  .reviews-item__header-info__name {
    font-size: 20px;
    line-height: 24px;
  }

  .reviews-item__footer-text {
    font-size: 16px;
    line-height: 19px;
  }

  .section-subtitle {
    margin-bottom: 24px;
  }

  .section-top {
    display: block;
  }
}

@media (max-width: 375px) {
  .footer-top__wrapper {
    text-align: center;
  }

  .footer-top__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-top__right-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .footer-top__right-item + .footer-top__right-item {
    margin-left: 0;
    margin-top: 40px;
  }

  .footer-top__right-item:nth-child(3) {
    margin-top: 40px;
  }

  .footer-top__right-item__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.webp .hero{ background-image: url(../img/hero-bg.webp); }

.webp .video{ background-image: url(../img/video-bg.webp); }